n8n/note-sync-push-execute-tool.json
{
  "name": "Obsidian → note Push (Execute Tool)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "obsidian-push",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "obsidian-push"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:3000/mcp",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"jsonrpc\": \"2.0\",\n  \"id\": 1,\n  \"method\": \"tools/call\",\n  \"params\": {\n    \"name\": \"post-draft-note\",\n    \"arguments\": {\n      \"noteId\": \"{{ $json.slug }}\",\n      \"title\": \"{{ $json.title }}\",\n      \"body\": \"{{ $json.body }}\",\n      \"isPublic\": false\n    }\n  }\n}",
        "options": {}
      },
      "name": "Execute Tool: post-draft-note",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Check Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "channel": "#dev-notifications",
        "text": "⚠️ Failed to push {{ $json.slug }}",
        "attachments": [
          {
            "color": "#ff0000",
            "title": "Error",
            "text": "={{ $json.error.message }}"
          }
        ]
      },
      "name": "Notify Error",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [850, 200],
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"slug\": \"{{ $json.slug }}\",\n  \"result\": {{ $json.result }}\n}",
        "options": {}
      },
      "name": "Response Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"slug\": \"{{ $json.slug }}\",\n  \"error\": {{ $json.error }}\n}",
        "options": {}
      },
      "name": "Response Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 200]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute Tool: post-draft-note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Tool: post-draft-note": {
      "main": [
        [
          {
            "node": "Check Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Error": {
      "main": [
        [
          {
            "node": "Notify Error",
            "type": "main",
            "index": 0
          },
          {
            "node": "Response Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-05T15:00:00.000Z",
  "versionId": "1"
}


