n8n/note-sync-push.json
{
  "name": "Obsidian → note Push",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "obsidian-push",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "command": "node /path/to/note-obsidian/scripts/note-sync.js push {{ $json.slug }}"
      },
      "name": "Execute Sync",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, slug: $json.slug, version: $json.version } }}"
      },
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Sync": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}

