n8n/note-sync-push-complete.json
{
  "name": "Obsidian → note Push (Complete)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "obsidian-push",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "command": "cd /Users/heavenlykiss0820/note-obsidian && node scripts/note-sync.js push {{ $json.slug }} 2>&1",
        "options": {}
      },
      "name": "Execute Sync Script",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// スクリプト出力をパース\nconst output = $input.first().json.stdout || $input.first().json.stderr || '';\nconst exitCode = $input.first().json.exitCode || 0;\n\n// 成功/失敗を判定\nconst success = exitCode === 0 && !output.includes('✗') && !output.includes('Error');\n\nreturn {\n  success: success,\n  slug: $('Webhook').first().json.slug,\n  output: output,\n  exitCode: exitCode\n};"
      },
      "name": "Parse Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"slug\": \"{{ $json.slug }}\",\n  \"message\": \"Pushed successfully\"\n}",
        "options": {}
      },
      "name": "Response Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"slug\": \"{{ $json.slug }}\",\n  \"error\": \"{{ $json.output }}\",\n  \"exitCode\": {{ $json.exitCode }}\n}",
        "options": {}
      },
      "name": "Response Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 200]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute Sync Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Sync Script": {
      "main": [
        [
          {
            "node": "Parse Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Output": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Response Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-05T15:00:00.000Z",
  "versionId": "1"
}

