n8n/note-sync-push-ai-agent.json
{
  "name": "Obsidian → note Push (AI Agent)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "obsidian-push-ai",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [176, 0],
      "id": "webhook-1",
      "name": "Webhook",
      "webhookId": "obsidian-push-ai"
    },
    {
      "parameters": {
        "command": "cd /Users/heavenlykiss0820/note-obsidian && node -e \"\nconst fs = require('fs');\nconst path = require('path');\nconst slug = process.argv[1];\nconst articleDir = path.join('articles', slug);\nconst mdPath = path.join(articleDir, 'index.md');\nconst metaPath = path.join(articleDir, 'meta.json');\n\ntry {\n  const markdown = fs.readFileSync(mdPath, 'utf-8');\n  const meta = JSON.parse(fs.readFileSync(metaPath, 'utf-8'));\n  console.log(JSON.stringify({\n    slug: slug,\n    noteId: meta.note_id,\n    title: meta.title,\n    markdown: markdown\n  }));\n} catch (error) {\n  console.error(JSON.stringify({ error: error.message }));\n  process.exit(1);\n}\n\" {{ $json.slug }}",
        "options": {}
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [376, 0],
      "id": "get-article-1",
      "name": "Get Article Data"
    },
    {
      "parameters": {
        "jsCode": "// 記事データを整形して AI Agent に渡す\nconst articleData = JSON.parse($input.first().json.stdout);\n\nif (articleData.error) {\n  return { error: articleData.error };\n}\n\n// Markdown を HTML に変換（簡易版）\nconst markdown = articleData.markdown;\nlet html = markdown\n  .replace(/^# (.+)$/gm, '<h1>$1</h1>')\n  .replace(/^## (.+)$/gm, '<h2>$1</h2>')\n  .replace(/^### (.+)$/gm, '<h3>$1</h3>')\n  .replace(/\\*\\*(.+?)\\*\\*/g, '<strong>$1</strong>')\n  .replace(/\\*(.+?)\\*/g, '<em>$1</em>')\n  .replace(/\\n\\n/g, '</p><p>')\n  .replace(/\\n/g, '<br>');\n\nhtml = '<p>' + html + '</p>';\n\nreturn {\n  message: `note の下書きを更新してください。\\n\\n記事ID: ${articleData.noteId}\\nタイトル: ${articleData.title}\\n本文: ${html.substring(0, 5000)}...`,\n  noteId: articleData.noteId,\n  title: articleData.title,\n  body: html\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [576, 0],
      "id": "prepare-data-1",
      "name": "Prepare Data for AI"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [776, 0],
      "id": "check-error-1",
      "name": "Check Error"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "あなたは note.com の下書きを更新するアシスタントです。\n\n利用可能なツール:\n- post-draft-note: note の下書きを更新\n  - noteId: 記事ID（例: n/abc123）\n  - title: 記事タイトル\n  - body: HTML形式の本文\n  - isPublic: false（下書き）\n\nユーザーからの指示に従って、post-draft-note ツールを使用して下書きを更新してください。\n\n入力データには noteId, title, body が含まれています。これらを使ってツールを呼び出してください。"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [976, 0],
      "id": "ai-agent-1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "connectionType": "http",
        "options": {
          "baseURL": "http://127.0.0.1:3000"
        }
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [1176, 208],
      "id": "mcp-client-1",
      "name": "MCP Client",
      "credentials": {
        "mcpClientHttpApi": {
          "id": "MUq3d1LaZ6FUeTwE",
          "name": "MCP Client (HTTP Streamable) note-mcp"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [976, 208],
      "id": "openai-model-1",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"slug\": \"{{ $('Get Article Data').first().json.slug }}\",\n  \"message\": \"{{ $json.output || $json.text }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1176, 0],
      "id": "response-success-1",
      "name": "Response Success"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"{{ $json.error }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1176, -200],
      "id": "response-error-1",
      "name": "Response Error"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Article Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Article Data": {
      "main": [
        [
          {
            "node": "Prepare Data for AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data for AI": {
      "main": [
        [
          {
            "node": "Check Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Error": {
      "main": [
        [
          {
            "node": "Response Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Response Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-05T15:45:00.000Z",
  "versionId": "1"
}

