n8n/note-sync-pull.json
{
  "name": "note → Obsidian Pull",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "note-pull",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "command": "node /path/to/note-obsidian/scripts/note-sync.js pull {{ $json.slug }}"
      },
      "name": "Execute Sync",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.conflicts }}",
              "operation": "equal",
              "value2": "true"
            }
          ]
        }
      },
      "name": "Check Conflicts",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "channel": "#dev-notifications",
        "text": "⚠️ Conflict detected in {{ $json.slug }}",
        "attachments": [
          {
            "color": "#ff0000",
            "title": "Manual resolution required",
            "text": "Check index.CONFLICT.md"
          }
        ]
      },
      "name": "Notify Conflict",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, slug: $json.slug, conflicts: false } }}"
      },
      "name": "Response Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Sync": {
      "main": [
        [
          {
            "node": "Check Conflicts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Conflicts": {
      "main": [
        [
          {
            "node": "Notify Conflict",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}

